# <font color='red'> Atenção </font>

Para ver este notebook como slideshow:

* Instale o plug-in de slideshow usando o terminal: `conda install -c damianavila82 rise`

* Execute o Jupyter

* Veja os slides usando o botão do *reveal* que vai aparecer na barra de ferramentas

![Botão Reveal](botao_reveal.png)

# Primeiro contato com o Pandas


Referências para esta atividade:

[10 Minutes to Pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html) - *Leiam este tutorial*

[Pandas Cookbook](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) - Referência de consulta absoluta de pandas

## Usando o pandas

Tipicamente o *pandas* é renomeado como *pd* da forma:

    import pandas as pd

ou se faz:

    from pandas import *

In [25]:
import pandas as pd

## Verificando versão do pandas

É sempre útil saber sua versão do pandas, porque ele evolui muito rapidamente e isso ajuda a resolver possíveus incompatibilidades!!

Para isso, use o comando:

In [26]:
pd.__version__

'0.20.1'

## Para abrir módulos gráficos, como já viram em outra disciplina

In [27]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib

# Diretórios

Caso a base de dados (arquivo xlsx, por exemplo) e o seu Python Notebook (este arquivo) estejam em diretórios diferentes, então será necessário definir o `path`. Se esse for o caso, basta retirar o síbolo # de comentários nas três linhas abaixo.

Lembre-se de que o nome do arquivo não faz parte da pasta.

In [28]:
#import os
#meu_diretorio = "/Users/usuario/MeuDiretorio"
#os.chdir(meu_diretorio)

# Diretórios

Caso queira saber qual diretório está o arquivo Python Notebbok, use a forma abaixo

In [29]:
import os
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/Gui Guidi/Desktop/Engenharia Comp/2º Semestre/Ciencia-Dados/Aula Panda Inicial 01/Aula01_Tutorial

Existem muitas outras formas de importar e exportar dados, veja o Pandas Cookbook

# Leituras de arquivos

## Arquivos em Excel

## <font color='blue'>Base de dados Bank Loan</font>

In [30]:
dados = pd.read_csv('DOM2015.csv')
dados1 = pd.read_csv('DOM2014.csv')
dados2 = pd.read_csv('DOM2013.csv')

## Outros tipos de arquivos

Arquivos em formato txt ou csv podem ser lidos com o `read_table`. Inclusive arquivos comprimidos.

Por exemplo, para ler um arquivo csv com separador ',' e com caracteres de Windows em Português fazemos:

    notas = pd.read_table("dados.csv", encoding="windows-1252", sep=",")

# Apresentando os dados de um DataFrame

In [31]:
dados

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V4611,V4614,UPA,V4617,V4618,V4620,V4621,V4622,V4624,V9992
0,0,2015,11,15,1,1,1.0,1.0,1.0,4.0,...,270.0,8.000000e+02,191,110001,1,1.0,8.000000e+02,4.0,1.0,20161104
1,1,2015,11,15,2,6,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,1,NaN,NaN,NaN,NaN,20161104
2,2,2015,11,15,3,1,1.0,1.0,1.0,4.0,...,270.0,1.150000e+03,191,110001,1,1.0,1.150000e+03,4.0,1.0,20161104
3,3,2015,11,15,4,1,6.0,4.0,1.0,2.0,...,270.0,4.760000e+03,191,110001,1,6.0,7.930000e+02,4.0,2.0,20161104
4,4,2015,11,15,5,1,2.0,2.0,1.0,2.0,...,271.0,5.800000e+03,191,110001,1,2.0,2.900000e+03,6.0,2.0,20161104
5,5,2015,11,15,6,1,1.0,1.0,1.0,2.0,...,270.0,1.990000e+03,191,110001,1,1.0,1.990000e+03,5.0,1.0,20161104
6,6,2015,11,15,7,1,2.0,2.0,1.0,2.0,...,270.0,7.000000e+02,191,110001,1,2.0,3.500000e+02,2.0,1.0,20161104
7,7,2015,11,15,8,1,3.0,2.0,1.0,2.0,...,270.0,4.000000e+03,191,110001,1,3.0,1.333000e+03,4.0,1.0,20161104
8,8,2015,11,15,9,1,5.0,4.0,1.0,2.0,...,271.0,4.090000e+03,191,110001,1,5.0,8.180000e+02,4.0,1.0,20161104
9,9,2015,11,15,10,6,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,1,NaN,NaN,NaN,NaN,20161104
10,10,2015,11,15,11,1,3.0,3.0,1.0,2.0,...,270.0,5.150000e+03,191,110001,1,3.0,1.716000e+03,5.0,1.0,20161104
11,11,2015,11,15,12,1,1.0,1.0,1.0,2.0,...,270.0,2.500000e+03,191,110001,1,1.0,2.500000e+03,6.0,1.0,20161104
12,12,2015,11,15,13,5,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,1,NaN,NaN,NaN,NaN,20161104
13,13,2015,11,15,14,1,2.0,2.0,1.0,4.0,...,270.0,2.800000e+03,191,110001,1,2.0,1.400000e+03,4.0,1.0,20161104
14,14,2015,11,15,15,6,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,1,NaN,NaN,NaN,NaN,20161104
15,15,2015,11,15,16,1,3.0,2.0,1.0,4.0,...,270.0,2.000000e+03,191,110001,1,3.0,6.660000e+02,3.0,2.0,20161104
16,16,2015,11,23,1,1,1.0,1.0,1.0,2.0,...,270.0,7.880000e+02,191,110001,2,1.0,7.880000e+02,3.0,1.0,20161104
17,17,2015,11,23,2,1,4.0,3.0,1.0,2.0,...,270.0,3.000000e+03,191,110001,2,4.0,7.500000e+02,3.0,1.0,20161104
18,18,2015,11,23,3,1,5.0,5.0,1.0,2.0,...,270.0,7.188000e+03,191,110001,2,5.0,1.437000e+03,4.0,1.0,20161104
19,19,2015,11,23,4,1,2.0,2.0,1.0,2.0,...,270.0,1.200000e+03,191,110001,2,2.0,6.000000e+02,3.0,1.0,20161104
20,20,2015,11,23,5,1,3.0,3.0,1.0,2.0,...,270.0,2.800000e+03,191,110001,2,3.0,9.330000e+02,4.0,1.0,20161104
21,21,2015,11,23,6,1,4.0,4.0,1.0,2.0,...,270.0,4.350000e+03,191,110001,2,4.0,1.087000e+03,4.0,1.0,20161104
22,22,2015,11,23,7,2,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,2,NaN,NaN,NaN,NaN,20161104
23,23,2015,11,23,8,1,3.0,2.0,1.0,2.0,...,271.0,8.000000e+03,191,110001,2,3.0,2.666000e+03,6.0,2.0,20161104
24,24,2015,11,23,9,5,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,2,NaN,NaN,NaN,NaN,20161104
25,25,2015,11,23,10,2,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,2,NaN,NaN,NaN,NaN,20161104
26,26,2015,11,23,11,1,3.0,3.0,1.0,2.0,...,270.0,2.100000e+03,191,110001,2,3.0,7.000000e+02,3.0,2.0,20161104
27,27,2015,11,23,12,1,4.0,4.0,1.0,2.0,...,270.0,1.330000e+04,191,110001,2,4.0,3.325000e+03,6.0,2.0,20161104
28,28,2015,11,23,13,1,2.0,2.0,1.0,2.0,...,270.0,7.000000e+03,191,110001,2,2.0,3.500000e+03,6.0,1.0,20161104
29,29,2015,11,23,14,1,4.0,3.0,1.0,2.0,...,270.0,4.688000e+03,191,110001,2,4.0,1.172000e+03,4.0,1.0,20161104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151159,151159,2015,53,2130,3,1,3.0,3.0,1.0,2.0,...,325.0,1.820000e+04,190,530001,213,3.0,6.066000e+03,7.0,1.0,20161104
151160,151160,2015,53,2130,4,2,NaN,NaN,NaN,NaN,...,NaN,NaN,190,530001,213,NaN,NaN,NaN,NaN,20161104
151161,151161,2015,53,2130,5,1,5.0,5.0,1.0,2.0,...,325.0,3.100000e+04,190,530001,213,5.0,6.200000e+03,7.0,1.0,20161104
151162,151162,2015,53,2130,6,2,NaN,NaN,NaN,NaN,...,NaN,NaN,190,530001,213,NaN,NaN,NaN,NaN,20161104
151163,151163,2015,53,2130,7,1,5.0,2.0,1.0,2.0,...,324.0,1.250000e+04,190,530001,213,5.0,2.500000e+03,6.0,1.0,20161104
151164,151164,2015,53,2130,8,1,5.0,2.0,1.0,2.0,...,324.0,3.000000e+04,190,530001,213,5.0,6.000000e+03,7.0,1.0,20161104
151165,151165,2015,53,2130,9,1,4.0,4.0,1.0,2.0,...,325.0,3.040000e+04,190,530001,213,4.0,7.600000e+03,7.0,1.0,20161104
151166,151166,2015,53,2130,10,2,NaN,NaN,NaN,NaN,...,NaN,NaN,190,530001,213,NaN,NaN,NaN,NaN,20161104
151167,151167,2015,53,2130,11,1,4.0,4.0,1.0,2.0,...,324.0,3.750000e+04,190,530001,213,4.0,9.375000e+03,7.0,1.0,20161104
151168,151168,2015,53,2130,12,1,3.0,3.0,1.0,2.0,...,325.0,3.970000e+04,190,530001,213,2.0,1.985000e+04,7.0,1.0,20161104
151169,151169,2015,53,2130,13,1,3.0,3.0,1.0,2.0,...,324.0,3.170000e+04,190,530001,213,3.0,1.056600e+04,7.0,1.0,20161104
151170,151170,2015,53,2130,14,1,2.0,1.0,1.0,2.0,...,325.0,3.064000e+04,190,530001,213,2.0,1.532000e+04,7.0,1.0,20161104
151171,151171,2015,53,2130,15,1,4.0,4.0,1.0,2.0,...,324.0,1.300000e+04,190,530001,213,4.0,3.250000e+03,6.0,1.0,20161104
151172,151172,2015,53,2148,1,1,2.0,2.0,1.0,2.0,...,325.0,2.712000e+03,190,530001,195,2.0,1.356000e+03,4.0,1.0,20161104
151173,151173,2015,53,2148,2,1,6.0,4.0,1.0,2.0,...,324.0,2.630000e+03,190,530001,195,6.0,4.380000e+02,3.0,1.0,20161104
151174,151174,2015,53,2148,3,2,NaN,NaN,NaN,NaN,...,NaN,NaN,190,530001,195,NaN,NaN,NaN,NaN,20161104
151175,151175,2015,53,2148,4,1,5.0,5.0,1.0,2.0,...,324.0,3.176000e+03,190,530001,195,5.0,6.350000e+02,3.0,1.0,20161104
151176,151176,2015,53,2148,5,4,NaN,NaN,NaN,NaN,...,NaN,NaN,190,530001,195,NaN,NaN,NaN,NaN,20161104
151177,151177,2015,53,2148,6,3,NaN,NaN,NaN,NaN,...,NaN,NaN,190,530001,195,NaN,NaN,NaN,NaN,20161104
151178,151178,2015,53,2148,7,2,NaN,NaN,NaN,NaN,...,NaN,NaN,190,530001,195,NaN,NaN,NaN,NaN,20161104
151179,151179,2015,53,2148,8,1,3.0,3.0,1.0,2.0,...,325.0,1.100000e+03,190,530001,195,3.0,3.660000e+02,2.0,1.0,20161104
151180,151180,2015,53,2148,9,1,4.0,4.0,1.0,2.0,...,324.0,1.000000e+12,190,530001,195,4.0,1.000000e+12,99.0,1.0,20161104
151181,151181,2015,53,2148,10,1,6.0,6.0,1.0,2.0,...,325.0,1.689000e+03,190,530001,195,6.0,2.810000e+02,2.0,1.0,20161104
151182,151182,2015,53,2148,11,1,4.0,2.0,1.0,2.0,...,324.0,3.100000e+03,190,530001,195,4.0,7.750000e+02,3.0,1.0,20161104
151183,151183,2015,53,2148,12,2,NaN,NaN,NaN,NaN,...,NaN,NaN,190,530001,195,NaN,NaN,NaN,NaN,20161104
151184,151184,2015,53,2148,13,1,4.0,2.0,1.0,2.0,...,325.0,2.700000e+03,190,530001,195,4.0,6.750000e+02,3.0,1.0,20161104
151185,151185,2015,53,2148,14,1,5.0,1.0,1.0,2.0,...,325.0,5.000000e+02,190,530001,195,5.0,1.000000e+02,1.0,1.0,20161104
151186,151186,2015,53,2148,15,1,3.0,3.0,1.0,2.0,...,324.0,2.388000e+03,190,530001,195,3.0,7.960000e+02,4.0,1.0,20161104
151187,151187,2015,53,2148,16,1,2.0,2.0,1.0,2.0,...,325.0,1.500000e+03,190,530001,195,2.0,7.500000e+02,3.0,1.0,20161104
151188,151188,2015,53,2148,17,1,5.0,4.0,1.0,2.0,...,325.0,1.296000e+03,190,530001,195,5.0,2.590000e+02,2.0,1.0,20161104

## head / tail

O método _head()_ de um _DataFrame_ mostra as primeiras linhas

In [32]:
dados.head()

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V4611,V4614,UPA,V4617,V4618,V4620,V4621,V4622,V4624,V9992
0,0,2015,11,15,1,1,1.0,1.0,1.0,4.0,...,270.0,800.0,191,110001,1,1.0,800.0,4.0,1.0,20161104
1,1,2015,11,15,2,6,NaN,NaN,NaN,NaN,...,NaN,NaN,191,110001,1,NaN,NaN,NaN,NaN,20161104
2,2,2015,11,15,3,1,1.0,1.0,1.0,4.0,...,270.0,1150.0,191,110001,1,1.0,1150.0,4.0,1.0,20161104
3,3,2015,11,15,4,1,6.0,4.0,1.0,2.0,...,270.0,4760.0,191,110001,1,6.0,793.0,4.0,2.0,20161104
4,4,2015,11,15,5,1,2.0,2.0,1.0,2.0,...,271.0,5800.0,191,110001,1,2.0,2900.0,6.0,2.0,20161104

## Método tail
O método _tail()_ mostra o final da tabela

In [33]:
dados.tail(5)

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V4611,V4614,UPA,V4617,V4618,V4620,V4621,V4622,V4624,V9992
151184,151184,2015,53,2148,13,1,4.0,2.0,1.0,2.0,...,325.0,2700.0,190,530001,195,4.0,675.0,3.0,1.0,20161104
151185,151185,2015,53,2148,14,1,5.0,1.0,1.0,2.0,...,325.0,500.0,190,530001,195,5.0,100.0,1.0,1.0,20161104
151186,151186,2015,53,2148,15,1,3.0,3.0,1.0,2.0,...,324.0,2388.0,190,530001,195,3.0,796.0,4.0,1.0,20161104
151187,151187,2015,53,2148,16,1,2.0,2.0,1.0,2.0,...,325.0,1500.0,190,530001,195,2.0,750.0,3.0,1.0,20161104
151188,151188,2015,53,2148,17,1,5.0,4.0,1.0,2.0,...,325.0,1296.0,190,530001,195,5.0,259.0,2.0,1.0,20161104

In [34]:
dados.tail(7)

,Unnamed: 0,V0101,UF,V0102,V0103,V0104,V0105,V0106,V0201,V0202,...,V4611,V4614,UPA,V4617,V4618,V4620,V4621,V4622,V4624,V9992
151182,151182,2015,53,2148,11,1,4.0,2.0,1.0,2.0,...,324.0,3100.0,190,530001,195,4.0,775.0,3.0,1.0,20161104
151183,151183,2015,53,2148,12,2,NaN,NaN,NaN,NaN,...,NaN,NaN,190,530001,195,NaN,NaN,NaN,NaN,20161104
151184,151184,2015,53,2148,13,1,4.0,2.0,1.0,2.0,...,325.0,2700.0,190,530001,195,4.0,675.0,3.0,1.0,20161104
151185,151185,2015,53,2148,14,1,5.0,1.0,1.0,2.0,...,325.0,500.0,190,530001,195,5.0,100.0,1.0,1.0,20161104
151186,151186,2015,53,2148,15,1,3.0,3.0,1.0,2.0,...,324.0,2388.0,190,530001,195,3.0,796.0,4.0,1.0,20161104
151187,151187,2015,53,2148,16,1,2.0,2.0,1.0,2.0,...,325.0,1500.0,190,530001,195,2.0,750.0,3.0,1.0,20161104
151188,151188,2015,53,2148,17,1,5.0,4.0,1.0,2.0,...,325.0,1296.0,190,530001,195,5.0,259.0,2.0,1.0,20161104

### Tamanho do DataFrame

In [35]:
dados.shape

(151189, 81)

Todo DataFrame contém um array do numpy internamente. Este array é guardado no atributo values

In [36]:
type(dados.values)

numpy.ndarray

## Tipos das colunas

Cada coluna da tabela tem um tipo diferente

In [37]:
dados.dtypes

Unnamed: 0      int64
V0101           int64
UF              int64
V0102           int64
V0103           int64
V0104           int64
V0105         float64
V0106         float64
V0201         float64
V0202         float64
V0203         float64
V0204         float64
V0205         float64
V0206         float64
V0207         float64
V0208         float64
V0209         float64
V0210         float64
V0211         float64
V0212         float64
V0213         float64
V0214         float64
V0215         float64
V0216         float64
V2016         float64
V0217         float64
V0218         float64
V0219         float64
V0220         float64
V2020         float64
               ...
V02324        float64
V02325        float64
V02326        float64
V02327        float64
V02424        float64
V02425        float64
V02426        float64
V2032         float64
V4105           int64
V4107           int64
V4600         float64
V4601         float64
V4602           int64
V4604           int64
V4605         float64
V4606           int64
V4607         float64
V4608         float64
V4609           int64
V4610           int64
V4611         float64
V4614         float64
UPA             int64
V4617           int64
V4618           int64
V4620         float64
V4621         float64
V4622         float64
V4624         float64
V9992           int64
Length: 81, dtype: object

## Acesso a colunas

Colunas podem ser acessadas direto pelo nome, como atributos de objetos

In [46]:
#y = dados.iloc[0:151189,0:81]
#y.to_excel("Gui1.xlsx")


x = dados[['V0220','V0231','V02322','V02323','V02324','V02325']]
x.head()


x.to_csv("dados_Escolhidos_2015.csv")

### Acesso a colunas - como membros de um dicionário

Ou então com uma notação similar à de um dicionário:

In [45]:
y = dados1[['V0220','V0231','V02322','V02323','V02324','V02325']]
y.head()

y.to_csv("dados_Escolhidos_2014.csv")

## Slices de linhas

Slices simples (sem vírgula) fatiam as linhas do dataset. O exemplo abaixo separa as linhas entre 2 e 4. Lembrando que o último valor informado nos colchetes é excludente.

In [44]:
z = dados2[['V0220','V0231','V02322','V02323','V02324','V02325']]
z.head()
z.to_csv("dados_Escolhidos_2013.csv")

# Slices de colunas

O atributo _iloc_ de um _DataFrame_ permite usar slices baseados em índices numéricos. Vale a mesma notação usada no numpy. Para saber mais veja [aqui](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

In [ ]:
#Caso queira, pode colocar esse pedaço do dataframe definido com outro nome
novatab = dados.iloc[2:5,3:8]

In [ ]:
novatab

## Slices  com operador "**:**"

Pode-se usar dois pontos *:*  em uma das dimensões para selecionar todas as linhas e/ou colunas.

In [ ]:
dados.iloc[:,:]

## Slices de células descontínuas

Ou então utilizar uma lista para especificar apenas um conjunto limitado de células, sejam linhas e/ou colunas.

In [ ]:
dados.iloc[[5,9], [2, 4, 7]]

## Filtragem de células dada uma condição

Pode-se especificar uma condição para selecionar apenas as linhas em que aquela condição é válida!

Abaixo, reduz o *Dataframe* selecionando apenas linhas quando a informação da coluna IDADE >40!
Note que considera todas as colunas do dataset.

In [ ]:
dados[dados.IDADE>40]

## Filtragem de células dada uma condição

Abaixo, faz uso apenas das variáveis das colunas 1 a 4 quando a informação IDADE > 40!
Note que nesse filtro, seleciona apenas algumas colunas do dataset para as linhas com IDADE > 40.

In [ ]:
dados[dados.IDADE>40].iloc[:,1:4].head(8)

## Operadores *booleanos* nas condições

Pode-se combinar condições.

Note que são operadores *diferentes* do que você usaria no *if*. Estas condições usam os operadores *bit a bit*

In [ ]:
y = dados[(dados.IDADE >= 25) & (dados.IDADE < 35)]
y.to_excel("teste.xlsx")
print(y)

## Seleção de colunas

Em cima da condição especificada, podemos ainda selecionar apenas uma coluna

In [ ]:
dados[dados.DEFAULT==1].IDADE

## Listando as colunas

List devolve uma lista das colunas do DataFrame

In [ ]:
list(dados)

### Listando as colunas

In [ ]:
dados.columns

## Ordenando valores

O método `sort_values()` ordena pela coluna desejada

In [ ]:
dados.sort_values(by="LETRA")

# VARIÁVEIS QUALITATIVAS


## Tabelas e Gráficos

## Dados categóricos


Observe o tipo dos dados da coluna EDUCACAO!!

Apesar de mostra valor inteiros, é uma variável qualitativa!

In [ ]:
dados.EDUCACAO

## Criando as categorias

Vamos indicar para o Pandas que a coluna EDUCACAO é do tipo categórica (variável qualitativa)!

In [ ]:
dados.LETRA = dados.LETRA.astype('category')

In [ ]:
dados.LETRA

## Mudando rótulos categóricos

Vamos substituir os números das categorias por rótulos!

In [ ]:
dados.LETRA.cat.categories = ('Inativo 30 dias', 'Liberado para Vendas', 'Duplicata Vencida', 'Cheques Devolvidos', 'Restricao Serasa' , 'Bloqueado Financeiro','Titulos Protestados','Cof dept cadastro','Cof dept comercial','Cof diretoria','Bloqueado','Cof gerencia admin','Paga com Atraso','Sint nao habilitado','somente pgto antecipado','bx duplos como perdas','Conf diretoria','Conf gerencia admin','conf dpto comericial','Conf representante','Inativo 180 dias','Empresa encerrada','Falencia','Somente a vista','Inativo 90 Dias','Fora Estado','Sem inscricao, rever preco')


dados

In [ ]:
dados.head(10)

### Fazendo o mesmo para a coluna DEFAULT

In [ ]:
dados.DEFAULT = dados.DEFAULT.astype('category')

In [ ]:
dados.DEFAULT.cat.categories

Note que a palavra `DEFAULT` neste caso indica *default* financeiro. Ou seja: inadimplência.

In [ ]:
dados.DEFAULT.cat.categories = ('Adimplente', 'Inadimplente')

In [ ]:
dados.head()

## Contando valores de uma variável *Qualitativa*

In [ ]:
dados.EDUCACAO.value_counts()

## Normalizando a contagem

In [ ]:
dados.EDUCACAO.value_counts(True)

### Obtendo percentuais

Basta multiplicar as frequências relativas por 100

In [ ]:
dados.EDUCACAO.value_counts(True) * 100

In [ ]:
dados.DEFAULT.value_counts()

In [ ]:
dados.DEFAULT.value_counts(True)

In [ ]:
dados.DEFAULT.value_counts(True) * 100

## Cruzando duas variáveis *Qualitativas*

Tabela cruzada *crosstab* com frequências absolutas

In [ ]:
ct = pd.crosstab(dados.EDUCACAO, dados.DEFAULT)

In [ ]:
ct

### Normalizando o crosstab

Para obter uma versão normalizada

In [ ]:
pd.crosstab(dados.EDUCACAO, dados.DEFAULT, normalize=True)

### Somando as frequênias das categorias

Somando por coluna:

In [ ]:
ct.sum()

Somando todas as frequências => total geral:

In [ ]:
ct.sum().sum()

In [ ]:
soma_tabela = ct.sum().sum()

In [ ]:
ct/soma_tabela

In [ ]:
ct*100/soma_tabela

## Gráficos
O pandas usa os recursos de gráficos do _matplotlib_

As linhas abaixo fazem plots do _matplotlib_ ou pandas aparecerem corretamente no _IPython Notebook_.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

### Gráfico de barras

A função que faz gráfico de barras é  a  [_DataFrame.plot()_](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html)

In [ ]:
dfc = dados.DEFAULT.value_counts()
dfc.plot(kind='bar', color=('blue', 'red'), legend=False)

## Reordenando as categorias

O método `reindex` serve para reordenar as linhas de uma tabela.  

Digamos que quiséssemos que os Inadimplentes viessem antes dos Adimplentes.

In [ ]:
dfc2 = dados.DEFAULT.value_counts().reindex(["Inadimplente",  "Adimplente"])

dfc2.plot(kind='bar', color=('red', 'blue'), legend=False)

### Gráfico de pizza

Plot do percentual de adimplentes e inadimplentes.

In [ ]:
dfc2.plot(kind='pie', colors=('blue', 'red'), autopct="%0.2f",legend=False)

## Gráfico de barras

Gráfico de barras comparando os diversos níveis de educação

In [ ]:
evc = dados.EDUCACAO.value_counts().reindex(['Analfabeto','1o. Grau', '2o. Grau', 'Graduacao', 'Pos-Graduacao'])

In [ ]:
evc.plot(kind='bar', color=('yellow', 'salmon', 'purple', 'red', 'green'),  legend=False)

## Gráfico de pizza

In [ ]:
evc.plot(kind='pie', colors=('yellow', 'salmon', 'blue', 'red', 'green'), autopct="%.2f", legend=False)

## Gráficos de barra para tabela cruzada (crosstab)

Considerando frequências absolutas

In [ ]:
ct1 = pd.crosstab(dados.EDUCACAO, dados.DEFAULT)
ct1.plot(kind='bar', color=('yellow', 'salmon'))
plt.ylabel('Frequência Absoluta')

In [ ]:
ct1 = pd.crosstab(dados.DEFAULT, dados.EDUCACAO)
ct1.plot(kind='bar', color=('red','blue','green','yellow', 'salmon'))
plt.ylabel('Frequência Absoluta')

## Gráficos de barra para tabela cruzada (crosstab)

Considerando frequências relativas

In [ ]:
ct2 = pd.crosstab(dados.EDUCACAO, dados.DEFAULT)
ct2 = (ct2/ct2.sum().sum()*100).round(decimals=0)
ct2.plot(kind='bar', color=('yellow', 'salmon'))
plt.ylabel('Frequência Relativa (em %)')

In [ ]:
ct2 = pd.crosstab(dados.DEFAULT, dados.EDUCACAO)
ct2 = (ct2/ct2.sum().sum()*100).round(decimals=0)
ct2.plot(kind='bar', color=('red','blue','green','yellow', 'salmon'))
plt.ylabel('Frequência Relativa (em %)')

## Gráfico de pizza considerando duas variáveis qualitativas

Considerando frequências relativas de Educação em cada nível de Default!

In [ ]:
adim = dados.EDUCACAO[dados.DEFAULT == 'Adimplente'].value_counts()
adim.plot(kind='pie', autopct="%.2f",legend=False)
plt.title('ADIMPLENTES')

In [ ]:
inadim = dados.EDUCACAO[dados.DEFAULT == 'Inadimplente'].value_counts()
inadim.plot(kind='pie', autopct="%.2f",legend=False)
plt.title('INADIMPLENTES')

## Gráficos *stacked*

Rodar função para conseguir fazer gráfico do tipo "stacked" corretamente que esteja "delimitado" por total de linhas ou de colunas!

In [ ]:
#Função que divide cada valor da tabela cruzada pelo total da última linha (quando axis=0) ou da última coluna (quando axis=1)
#Retorna tabela cruzada com valores sem casa decimais
#https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/
def percConvert(tab):
  return (tab/float(tab[-1])*100).round(decimals=0)

In [ ]:
print('Tabela Cruzada por total de COLUNAS (em %):')
#Use axis igual a 0
ct3=pd.crosstab(dados.EDUCACAO,dados.DEFAULT,margins=True,rownames=['Educação'], colnames=['Default']).apply(percConvert, axis=0)
ct3

## Gráficos *stacked* por total de coluna

In [ ]:
ct3 = ct3.iloc[0:5,:]
plot = ct3.T.plot(kind='bar', stacked=True,title='Educação por Default')
plot.set_ylim([0, 100])
plt.ylabel('Freq.Relativa (em%)')

#Para legenda ficar fora do gráfico
ax = plt.subplot(111)
box = ax.get_position()
ax.set_position([box.x0, box.y0, box.width * 0.8, box.height])
ax.legend(loc='center left', bbox_to_anchor=(1, 0.5))

In [ ]:
print('Tabela Cruzada por total de LINHAS (em %):')
#Use axis igual a 1
ct4=pd.crosstab(dados.EDUCACAO,dados.DEFAULT,margins=True,rownames=['Educação'], colnames=['Default']).apply(percConvert, axis=1)
ct4

## Gráficos *stacked* por total de linha

In [ ]:
ct4 = ct4.iloc[:,0:2]
plot = ct4.plot(kind='bar', stacked=True,title='Default por Educação')
plot.set_ylim([0, 100])
plt.ylabel('Freq.Relativa (em%)')

#Para legenda ficar fora do gráfico
ax = plt.subplot(111)
box = ax.get_position()
ax.set_position([box.x0, box.y0, box.width * 0.8, box.height])
ax.legend(loc='center left', bbox_to_anchor=(1, 0.5))

## Gráficos *stacked* construídos de forma inadequada para interpretar

# CUIDADO!!

Não considere frequências absolutas e nem tão pouco as frequências relativas do total geral. Você certamente terá erros na interpretação e conclusão do comportamento dos dados.

In [ ]:
ct5 = pd.crosstab(dados.EDUCACAO,dados.DEFAULT,rownames=['Educação'], colnames=['Default'])
ct5.plot.bar(color=('yellow', 'salmon', 'blue', 'red', 'green'), stacked=True)

## Gráficos *stacked* construídos de forma inadequada para interpretar

# CUIDADO!!

Não considere frequências absolutas e nem tão pouco as frequências relativas do total geral. Você certamente terá erros na interpretação e conclusão do comportamento dos dados.

In [ ]:
ct6 = pd.crosstab(dados.DEFAULT,dados.EDUCACAO,rownames=['Default'], colnames=['Educação'])
ct6.plot(kind='bar', color=('yellow', 'salmon', 'blue', 'red', 'green'), legend=False, stacked=True)

# VARIÁVEIS QUANTITATIVAS


## Tabelas e Gráficos

## Categorizando uma variável quantitativa

Por exemplo a variável renda é uma variável quantitativa (contínua, melhor dizendo). 

Graficamente, a ferramenta ideal para estudá-la é por meio de um histograma!

Mas para construir uma tabela com as frequências de ocorrências, devemos criar faixas (*bins*) para simplificar a análise.

In [ ]:
RENDA_cat = pd.cut(dados.RENDA, bins=10)

Analisando resultado da tabela com as frequências absolutas!

Com as categorias ordenadas por ordem decrescente da frequência absoluta!

Criando faixas e visualizando tabela com frequências relativas.

Entretanto, antes verifique os valores mínimo e máximo para que todos os valores sejam considerados nas categorias que serão criadas.

In [ ]:
dados.RENDA.describe()

Aqui os valores de quebra das faixas ficam a "gosto do freguês" desde que haja bom senso entre a quantidade de faixas com o tamanho amostral.

Analisando resultado da tabela com as frequências absolutas, entretanto, com as categorias ordenadas por ordem crescente das categorias! Isso é obtido utilizando `sort=False` dentro do comando `value_counts()`!!

In [ ]:
faixa = range(10,500,50)
RENDA_cat = pd.cut(dados.RENDA, bins=faixa)
RENDA_cat.value_counts(sort=False, normalize=True)*100

## Gráfico de colunas com as frequências absolutas

In [ ]:
plot.has_data

In [ ]:
plot = dados.RENDA.plot.hist(bins=faixa,title='GRAFICO DE COLUNAS', figsize=(6, 6), alpha=0.9)
plt.ylabel('Frequência absoluta')
plt.xlabel('renda (em reais)')

## Gráfico de colunas com as frequências relativas

In [ ]:
from numpy import zeros_like
plot = dados.RENDA.plot.hist(bins=faixa,title='GRAFICO DE COLUNAS', weights=zeros_like(dados.RENDA)+1./dados.RENDA.size*100, figsize=(6, 6), alpha=0.7)
plt.ylabel('Frequência relativa (em %)')
plt.xlabel('renda (em reais)')

## Histograma

In [ ]:
plot = dados.RENDA.plot.hist(bins=faixa,title='HISTOGRAMA', normed=1, figsize=(6, 6), alpha=0.5)
plt.ylabel('Densidade')
plt.xlabel('renda (em reais)')

## Organizando os gráficos em forma de *array*

Aqui, tem os comandos de como construir um gráfico ao lado do outro em forma de *array*. Excelente recurso para organizar gráficos dentro do notebook e não deixá-lo tão extenso!

In [ ]:
f, axarr = plt.subplots(3,figsize=(5,10))
axarr[0].hist(dados.RENDA, bins=15, alpha=0.9)
axarr[0].set_title('Gráfico de Colunas')
axarr[0].set_xlabel('Renda')
axarr[0].set_ylabel('Frequência Absoluta')

axarr[1].hist(dados.RENDA, bins=15, weights=zeros_like(dados.RENDA)+1./dados.RENDA.size*100, alpha=0.7)
axarr[1].set_title('Gráfico de Colunas')
axarr[1].set_xlabel('Renda')
axarr[1].set_ylabel('Frequência Relativa (em%)')

axarr[2].hist(dados.RENDA, bins=15, normed=1, alpha=0.5)
axarr[2].set_title('Histograma')
axarr[2].set_xlabel('Renda')
axarr[2].set_ylabel('Densidade')

plt.tight_layout(1)

## Organizando os gráficos em forma de *subplot*

Na linha de comando `plot.subplot(311)`, por exemplo, os valores dentro do parênteses `(311)` indicam, respectivamente: quantidade de linhas, quantidade de colunas e posicionamento do particular gráfico descrito logo após o comando `subplot()`.

In [ ]:
fig = plt.figure(figsize=(5,12))
plt.subplot(311)
plot = dados.RENDA.plot.hist(bins=15, title='Gráfico de Colunas', alpha=0.9)
plt.ylabel('Frequência Absoluta')
plt.xlabel('Renda')

plt.subplot(312)
plot = dados.RENDA.plot.hist(bins=15, title='Gráfico de Colunas', weights=zeros_like(dados.RENDA)+1./dados.RENDA.size*100, alpha=0.7)
plt.ylabel('Frequência Relativa (em %)')
plt.xlabel('Renda')

plt.subplot(313)
plot = dados.RENDA.plot.hist(bins=15, title='Histograma', normed=1, alpha=0.5)
plt.ylabel('Densidade')
plt.xlabel('Renda')

plt.tight_layout()
plt.show()

## Organizando os gráficos em forma de *subplot*

Reorganizando os gráficos considerando 1 linha e 3 colunas dentro do comando `subplot()`.

In [ ]:
fig = plt.figure(figsize=(15, 5))
plt.subplot(131)
plot = dados.RENDA.plot.hist(bins=15, title='Gráfico de Colunas', alpha=0.9)
plt.ylabel('Frequência Absoluta')
plt.xlabel('Renda')

plt.subplot(132)
plot = dados.RENDA.plot.hist(bins=15, title='Gráfico de Colunas', weights=zeros_like(dados.RENDA)+1./dados.RENDA.size*100, alpha=0.7)
plt.ylabel('Frequência Relativa (em %)')
plt.xlabel('Renda')

plt.subplot(133)
plot = dados.RENDA.plot.hist(bins=15, title='Histograma', normed=1, alpha=0.5)
plt.ylabel('Densidade')
plt.xlabel('Renda')

plt.tight_layout()
plt.show()